*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 390px;
    background-color:#E0218A;

}
.barbie{
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
h1{
    padding: 10px 10px;
    font-family: 'Great Vibes', cursive;
    flex-wrap: column;
    color: white;
    text-align: center;
}
.img-1 img{
    display: block;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid white;
}
p{
    font-family: 'Great Vibes', cursive;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px 10px;
}
.Instagram img{
    display: block;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 25px;
}
