*{
    margin: 0;
    padding: 0;
}
html{
    height: -webkit-fill-available;
}
body{
    background-color: white;
    display: flex;
    max-width: 390px;
    height: 100vh;
    height: -webkit-fill-available;
}

.container{
    width: 390px;
    height: 844px;
    background-color: #e0218a;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container h1{
    font-family: 'Great Vibes', cursive;
    color: white;
    margin: 0px 80px;
}
img{
    width: fit-content;
    height: fit-content;
    margin: 30px 130px;
}
.pictures img{
    width: 40.5%;
    margin: 10px 20px 10px 17px;
    display: flex;
    float: left;
    align-items: center;
    border-radius: 20px;
    box-shadow: -4px 7px 26px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 7px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 7px 26px 0px rgba(0,0,0,0.75);
}
.container p{
    margin: 0px 50px;
    font-family: 'Great Vibes', cursive;
    color: white;
    display: flex;
    float: left;
}
.secondlastcaption{
    position: relative;
    right: 20px;
    bottom: -5px;
}
.lastcaption{
    position: relative;
    left: 160px;
    bottom: 15px;
}
.Instagram img{
    width: 18%;
    margin: 10px 20px 10px 17px;
    display: flex;
    float: left;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    position: relative;
    top: 20px;
    right: 114px;
}
